<header id="header_layout">
    
    <div id="header_name">
       <p> 
            <a href='/'>
              Authentication System
             </a>
     </p>
    </div>
    <div id="home_page">
        <!-- list of authentication item -->
        <ul>
            
                <li>
                    <!-- Sign in option -->
                    <a href="/users/sign-in">Sign In</a>
                </li>
                <li>
                     <!-- Sign up option -->
                     <a href="/users/sign-up">Sign Up</a>
                </li>
          
        </ul>
    </div>
</header>